* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Manrope', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--clr-dkblue);
	padding: 1.5rem;
	height: 100vh;
}

:root {
	--clr-ltcyan: hsl(193, 38%, 86%);
	--clr-neongreen: hsl(150, 100%, 66%);
	--clr-dkblue: hsl(218, 23%, 16%);
	--clr-gyblue: hsl(217, 19%, 38%);
	--clr-dkgblue: hsl(217, 19%, 24%);
}

h1,
h2,
h3 {
	line-height: 1.1;
}

p {
	text-align: center;
	color: white;
}

img {
	max-width: 100%;
	display: block;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.main {
	padding: 1.5rem;
	background-color: var(--clr-dkgblue);
	border-radius: 10px;
	max-width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.adviceNo {
	color: var(--clr-neongreen);
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}

.advice {
	color: whitesmoke;
	font-weight: 800;
	margin-bottom: 20px;
}

.divider {
	margin-bottom: 30px;
}

.btn {
	background-color: var(--clr-neongreen);
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 60%;
	position: relative;
	margin-top: 20px;
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 89%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn:hover {
	cursor: pointer;
	color: var(--clr-neongreen);
	box-shadow: 0px 0px 30px 8px var(--clr-neongreen);
}

.dice-img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media (min-width: 565px) {
	.main {
		max-width: 375px;
	}

	.advice {
		margin-bottom: 30px;
	}

	.divider {
		width: 88%;
	}
}
